<header>
    <div class="container navbar">
        <a href="/" class="logo">
            <img src="/Design/logo.png" alt="PetSpace Logo">
            <span
                style="font-family: var(--font-heading); font-weight: 700; color: var(--primary-color); margin-left: 8px; font-size: 1.2rem;">PetSpace</span>
        </a>
        <div class="menu-toggle" id="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="nav-links">
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="#">Servicios</a>
            <a href="#">Ofertas</a>
            <a href="#">Contacto</a>
        </nav>
        <div class="nav-icons">
            <a href="/users/login"><i class="fas fa-user"></i></a>
            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</header>